# 0.0 Imports

In [1]:
pip install inflection

Collecting inflection
  Downloading https://files.pythonhosted.org/packages/59/91/aa6bde563e0085a02a435aa99b49ef75b0a4b062635e606dab23ce18d720/inflection-0.5.1-py2.py3-none-any.whl
Installing collected packages: inflection
Successfully installed inflection-0.5.1

In [3]:
import pandas as pd
import inflection #!sudo pip install inflection (ajudar renomear biblioteca)

### 0.1 Helper Functions

### 0.2 Loading data

In [5]:
df_sales_raw = pd.read_csv('https://raw.githubusercontent.com/miguelzeph/curso_ds_em_producao/master/data/train.csv',low_memory=False)
#df_store_raw = pd.read_csv('./data/store.csv',low_memory=False)

# Merge ( Merge != Join != Concat)
#df_raw = pd.merge(df_sales_raw,df_store_raw, how = 'left', on='Store')

In [6]:
df_sales_raw.head()

   Store  DayOfWeek        Date  Sales  ...  Open  Promo  StateHoliday SchoolHoliday
0      1          5  2015-07-31   5263  ...     1      1             0             1
1      2          5  2015-07-31   6064  ...     1      1             0             1
2      3          5  2015-07-31   8314  ...     1      1             0             1
3      4          5  2015-07-31  13995  ...     1      1             0             1
4      5          5  2015-07-31   4822  ...     1      1             0             1

[5 rows x 9 columns]

In [ ]:
df_raw.sample()# Pega uma rows aleat√≥ria pra visualizar

,Store,DayOfWeek,Date,Sales,Customers,Open,Promo,StateHoliday,SchoolHoliday,StoreType,Assortment,CompetitionDistance,CompetitionOpenSinceMonth,CompetitionOpenSinceYear,Promo2,Promo2SinceWeek,Promo2SinceYear,PromoInterval
551442,303,6,2014-02-22,4302,493,1,0,0,0,a,a,15430.0,11.0,2012.0,1,18.0,2011.0,"Feb,May,Aug,Nov"

# 1.0 Descri√ß√£o dos Dados

#### Copy dos dados

In [ ]:
# Sempre fa√ßa isso, pois em grandes projetos, voc√™ pode sobescrever os dados anteriores
df1 = df_raw.copy()

### 1.1 Rename Columns (sempre fa√ßa isso para facilitar)

In [ ]:
df_raw.columns

Index(['Store', 'DayOfWeek', 'Date', 'Sales', 'Customers', 'Open', 'Promo',
       'StateHoliday', 'SchoolHoliday', 'StoreType', 'Assortment',
       'CompetitionDistance', 'CompetitionOpenSinceMonth',
       'CompetitionOpenSinceYear', 'Promo2', 'Promo2SinceWeek',
       'Promo2SinceYear', 'PromoInterval'],
      dtype='object')

In [ ]:
cols_old = ['Store', 'DayOfWeek', 'Date', 'Sales', 'Customers', 'Open', 'Promo',
       'StateHoliday', 'SchoolHoliday', 'StoreType', 'Assortment',
       'CompetitionDistance', 'CompetitionOpenSinceMonth',
       'CompetitionOpenSinceYear', 'Promo2', 'Promo2SinceWeek',
       'Promo2SinceYear', 'PromoInterval']
cols_old[0]

'Store'

In [ ]:
# Fun√ß√£o Lambda para aplicar
snakecase = lambda x: inflection.underscore( x )

cols_new = list(map(snakecase,cols_old))

# rename
df1.columns = cols_new

In [ ]:
df1.columns

Index(['store', 'day_of_week', 'date', 'sales', 'customers', 'open', 'promo',
       'state_holiday', 'school_holiday', 'store_type', 'assortment',
       'competition_distance', 'competition_open_since_month',
       'competition_open_since_year', 'promo2', 'promo2_since_week',
       'promo2_since_year', 'promo_interval'],
      dtype='object')

### 1.2 Data Dimensions

In [ ]:
print(f'number of rows: {df1.shape[0]}')
print(f'number of rows: {df1.shape[1]}')

number of rows: 1017209
number of rows: 18

### 1.3 Data type

In [ ]:
df1.dtypes

# NO PANDAS 'object' ele entende que √© uma 'string'
# Contudo, a "date" tem que estar sempre no formato de data!

store                             int64
day_of_week                       int64
date                             object
sales                             int64
customers                         int64
open                              int64
promo                             int64
state_holiday                    object
school_holiday                    int64
store_type                       object
assortment                       object
competition_distance            float64
competition_open_since_month    float64
competition_open_since_year     float64
promo2                            int64
promo2_since_week               float64
promo2_since_year               float64
promo_interval                   object
dtype: object

In [ ]:
# Mudar pra date type
df1['date'] = pd.to_datetime( df1['date'] )
# verifique agora
df1.dtypes

store                                    int64
day_of_week                              int64
date                            datetime64[ns]
sales                                    int64
customers                                int64
open                                     int64
promo                                    int64
state_holiday                           object
school_holiday                           int64
store_type                              object
assortment                              object
competition_distance                   float64
competition_open_since_month           float64
competition_open_since_year            float64
promo2                                   int64
promo2_since_week                      float64
promo2_since_year                      float64
promo_interval                          object
dtype: object

### 1.4 Check NA

In [ ]:
df1.isna().sum()
# Veja que temos colunas com muitos NA...

store                                0
day_of_week                          0
date                                 0
sales                                0
customers                            0
open                                 0
promo                                0
state_holiday                        0
school_holiday                       0
store_type                           0
assortment                           0
competition_distance              2642
competition_open_since_month    323348
competition_open_since_year     323348
promo2                               0
promo2_since_week               508031
promo2_since_year               508031
promo_interval                  508031
dtype: int64

In [ ]:
#1-) podemos descartar as linhas -> df1.dropna()

#2-) usar algor√≠tmos de ML que voc√™ prev√™ os valores vazios.
# (QUANDO VOC√ä N√ÉO TEM INFORMA√á√ïES DOS DADOS.)

#3-) Entender o problema, voc√™ conversando com quem produz esses dados
# consegue saber os valores que deveriam ser ( veja se descobre alguma regra)

### 1.5 Fillout NA ( Preencher os NA)

In [ ]:
#competition_distance              2642
#competition_open_since_month    323348
#competition_open_since_year     323348
#promo2                               0
#promo2_since_week               508031
#promo2_since_year               508031
#promo_interval                  508031